<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/members">
                Home
            </a>

            <a class="navbar-brand" href="/forum">
                Forum
            </a>

            <a class="navbar-brand" href="/staybusy">
                Stay Busy
            </a>
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>

<p>{{title}}</p>
<p>{{body}}</p>