<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/members">
                Home
            </a>

            <a class="navbar-brand" href="/forum">
                Forum
            </a>

            <a class="navbar-brand" href="/staybusy">
                Stay Busy
            </a>
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12" id="postTitle">
            <p>{{title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="postBody">
            <p>{{body}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <textarea placeholder="Comment" class="form-control" rows="5" id="newComment"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-8">
            <button type="submit" class="btn btn-primary" id="createComment">
                Comment
            </button>
        </div>
    </div>
    <div class="comment">
        <div class="row">
            <div class="col-4 offset-5" id="commentArea">
            </div>
        </div>
    </div>
</div>