<li class="list-group-item">
    <span class="label">Timestamp:</span> {{dataValues.createdAt}} <br>
    <span class="label">Note:</span> {{dataValues.note}} <br>
    <span class="label">Content: </span><br>
    <div class="content-box">{{{dataValues.content}}}</div><br>
    <button class="btn btn-primary delete-btn" id={{dataValues.id}}>Delete this bookmark</button>
</li>
