<li class="list-group-item">
    <span class="label">Sent:</span> {{dataValues.createdAt}} <br>
    <span class="label">Subject:</span> {{dataValues.subject}} <br>
    <span class="label">Message:</span> {{dataValues.message}} <br>
    <span class="label">Body:</span> <br>
    <div class="content-box">{{{dataValues.content}}}</div>
</li>